body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background:lightgrey;
    text-align: center;
    margin: 0;
}

h1 {
    margin: 20px 0;
    border-width:2px ;
    border-color: rgb(14, 9, 9);
}

.filters {
    margin-bottom: 15px;
}

.filters button {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.filters button:hover {
    background: #555;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    height: 100%;

    object-fit:cover;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.5s, box-shadow 0.9s;
}

.gallery img:hover {
    transform: scale(1.09);
    box-shadow: 0 5px 15px rgba(21, 121, 26, 0.9);
}


.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    align-items: center;
    justify-content: center;
}

.lightbox img {
    width: auto;
    height: auto;
    border-radius: 15px;
    max-width:70%;
    max-height:70vh;
    object-fit: contain;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 35px;
    color: white;
    cursor: pointer;
}

.prev, .next {
    position: absolute;
    top: 50%;
    font-size: 30px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

.prev { left: 10px; }
.next { right: 10px; }
